<div class="interactive-wrapper">
<div class="money-top">
  <div class="gs-container flex">
    <div class="money-left">
        <h1>The new normal financial <span>survival guide</span></h1>
        <h2>
          Guardian Money helps you put your finances in order while adapting to a new way of living
        </h2>
        <h3 class="byline" data-link-name="byline" data-component="meta-byline"><span itemscope="" itemtype="http://schema.org/Person" itemprop="author">
        <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="auto tag link" href="/profile/hilaryosborne"><span itemprop="name">Hilary Osborne</span></a></span>, <span itemscope="" itemtype="http://schema.org/Person" itemprop="author">
        <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="auto tag link" href="/profile/patrickcollinson"><span itemprop="name">Patrick Collinson</span></a></span>, <span itemscope="" itemtype="http://schema.org/Person" itemprop="author">
        <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="auto tag link" href="/profile/rupertjones"><span itemprop="name">Rupert Jones</span></a></span> and <span itemscope="" itemtype="http://schema.org/Person" itemprop="author">
        <a rel="author" class="tone-colour" itemprop="sameAs" data-link-name="auto tag link" href="/profile/milesbrignall"><span itemprop="name">Miles Brignall</span></a></span></h3>
    </div>
    <div class="money-right">
      <div class="rotate slow">
      <div class="image-top rotate">
        <img src="https://uploads.guim.co.uk/2020/05/28/fruit_crop.png">
      </div>
      <div class="image-bottom">
        <img src="https://uploads.guim.co.uk/2020/05/28/postie_crop.png">
      </div>
      </div>
    </div>
  </div>
</div>
</div>
